/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  min-height: 100%;
  min-width: 100%;
  align-items: center;
  background: #592a16;
}
td{

}
table{
  display: none;
}
.container{
  padding: 30px 35px 0px;
  background: #592a16;
}
.container.disable .editor-panel,
.container.disable .controls .reset-filter,
.container.disable .controls .save-img{
  opacity: 0.5;
  pointer-events: none;
}
.container h2{
  margin-top: -8px;
  font-size: 22px;
  font-weight: 500;
}
.container .wrapper{
  display: flex;
  margin: 20px -35px;
}
.wrapper .editor-panel{
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.editor-panel .title{
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.editor-panel .options, .controls{
  display: flex;
  flex-wrap: wrap;
}
.editor-panel button{
  outline: none;
  height: 40px;
  font-size: 14px;
  color: #6C757D;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
}
.editor-panel .filter button{
  background: #b8caff;
}
.editor-panel button:hover{
  background: #5981ff;
}
.filter button.active{
  color: #fff;
  border-color: #5372F0;
  background: #5372F0;
}
.filter .filter-img{
  width: 120px;
  border-radius: 5px;
}
.filter .filter-img:hover{
  box-shadow: 0px 0px 5px #4cff37;
}
.filter .slider .filter-info{
  display: flex;
  color: #464646;
  font-size: 14px;
  justify-content: space-between;
}
.filter .slider input{
  width: calc(100% - 11px);
}
input[type=range]{
  background: #592a16;
}
.editor-panel .rotate{
  margin-top: 17px;
}
.editor-panel .rotate button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 3px);
}
.rotate .options button:nth-child(3),
.rotate .options button:nth-child(4){
  font-size: 18px;
}
.rotate .options button:active{
  color: #fff;
  background: #5372F0;
  border-color: #5372F0;
}
.wrapper .preview-img{
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.preview-img img{
  object-fit: cover;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
table{
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.controls button{
  padding: 11px 20px;
  font-size: 14px;
  border-radius: 3px;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.controls .reset-filter{
  border-radius: 7px;
  height: 70px;
  z-index: 100;
}
.controls .reset-filter:hover{
  box-shadow: 0px 0px 5px #4cff37;
}
@media screen and (max-width: 760px) {
  .container{
    padding: 25px;
  }
  .container .wrapper{
    flex-wrap: wrap-reverse;
  }
  .wrapper .editor-panel{
    width: 100%;
  }
  .wrapper .preview-img{
    width: 100%;
    margin: 0 0 15px;
  }
}

@media screen and (max-width: 500px) {
  .controls button{
    width: 100%;
    margin-bottom: 10px;
  }
  .controls .row{
    width: 100%;
  }
  .controls .row .save-img{
    margin-left: 0px;
  }
}
#setka{
  margin-left: 14px;
  height: 88px;
  width: 88px;
  border-radius: 8px;
  background: url("Картинки/интерфейс/sohr.png");
}
#setka:hover{
  background: url("Картинки/интерфейс/sohrON.png");
}
.group{
  width: 120px;
  height: 120px;
  margin: 10px 40px;

}
.group img{
  width: 150px;
  height: 150px;
  position: absolute;
}
.row{
  width: 147px;
  height: 100px;
  display: flex;
  flex-direction: row;
}
.popup{
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  display: none;
}
.popup_body{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup_content{
  background: url(Картинки/интерфейс/лист.png);
  color: #ffffff;
  text-decoration: none;
  max-width: 1167px;
  padding: 30px;
  position: relative;
  border-radius: 10px;
}
.popup_content a{
  color: #7ee0cf;
}
.popup_text{
  display: flex;
  flex-wrap: wrap;
}
.volume{
  cursor: pointer;
  width: 44px;
  border-radius: 10px;
  vertical-align: bottom;
}
.pcl{
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 20px;
  color: red;
  text-decoration: none;
  min-width: 30px;
  min-height: 30px;
  background: url(Картинки/интерфейс/закрыть.png);
  transition: 0.5s;
  border-radius: 12px;
}
.pcl:hover{
  background: url(Картинки/интерфейс/Images_LOBBY_DELSAVE_BUTTON_CLASS.png);
}
.visible{
  display: block;
}
#settings{
  vertical-align: bottom;
}
#settings:hover{
  cursor: pointer;
}
.hide{
  display: none;
}
.pointer-image img{
  cursor: pointer;
}
.margin5{
  margin: 5px;
}
.padding5{
  padding: 5px;
}